<!DOCTYPE html>
<html>

<head>
    <title>アプリ</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>

<body class="main">

    <div class="heading">
        <h1>画像認識アプリ　Image-Recognition</h1>
    </div>


    <div>
        <form method="post" action="/result" enctype="multipart/form-data">
            <p>
                <input type="file" name="image" accept="image/png, image/jpeg" placeholder="Image Url">
            </p>
            <p>
                <input type="submit" value="Go!">
            </p>
        </form>
    </div>

</body>

</html>